{% extends "base.html" %} {% block title %}Home{% endblock %}


{% block content %}
<div class="container mt-5 text-center">
    <br>
    <h1 align="center">Welcome to the bachelor thesis web project part</h1>
    <br><br>
    <h5 align="left">
        This is a simple custom made web template built with python's web development Framework Flask API. It is made for testing purposes.<br><br>
        Funcionality Description:<br><br>
    </h5>
    <ul align="left">
        <li> The user is able to control the alarm device and the sprinkle motor device. </li><br>
        <li> The user can view all custom made MQTT topics message traffic over AWS and the Shadow MQTT message traffic logged on realtime. </li><br>
        <li> The logs are registered directly from the AWS REST API. </li><br>
    </ul> 
</div>

{% endblock %}
